@marginleftspace: 430px;
@margin: 50px;

.average {
    color: #52c41a;
}
.agerating {
    color: #f5222d;
}
.gray {
    color: #808080;
}

@media (min-width: 576px) {
    .nav {
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .footer {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .left {
        margin-left: 0px;
    }
    .dropdown {
        margin-bottom: 0px;
        .left;
    }
    .card {
        width: 50px;
        margin: 40px;
    }
    .poster {
        width: 90px;
        border-radius: 10px;
    }
    .metadescription {
        text-overflow: ellipsis;
    }
    .animecard {
        margin-left: 0px;
        margin-right: 0px;
    }
    .button {
        text-align: center;
        margin-top: 20px;
        height: 32px;
        line-height: 32px;
    }
    h1 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .nav {
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .footer {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .left {
        margin-left: 0px;
    }
    .dropdown {
        margin-bottom: 0px;
        .left;
    }
    .card {
        width: 50px;
        margin: 40px;
    }
    .poster {
        width: 90px;
        border-radius: 10px;
    }
    .metadescription {
        text-overflow: ellipsis;
    }
    .animecard {
        margin-left: 0px;
        margin-right: 0px;
    }
    .button {
        text-align: center;
        margin-top: 20px;
        height: 32px;
        line-height: 32px;
    }
    h1 {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .nav {
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .footer {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .left {
        margin-left: 0px;
    }
    .dropdown {
        margin-bottom: 0px;
        .left;
    }
    .card {
        width: 50px;
        margin: 40px;
    }
    .poster {
        width: 90px;
        border-radius: 10px;
    }
    .metadescription {
        text-overflow: ellipsis;
    }
    .animecard {
        margin-left: 0px;
        margin-right: 0px;
    }
    .button {
        text-align: center;
        margin-top: 20px;
        height: 32px;
        line-height: 32px;
    }
    h1 {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .nav {
        margin-top: 20px;
        padding-bottom: @margin;
    }
    .footer {
        margin-top: @margin;
        padding-bottom: @margin;
    }
    .left {
        margin-left: @marginleftspace;
    }
    .dropdown {
        margin-bottom: 20px;
        .left;
    }
    .card {
        width: 150px;
        margin: 10px;
    }
    .poster {
        width: 200px;
        border-radius: 10px;
    }
    .metadescription {
        text-overflow: ellipsis;
    }
    .animecard {
        margin-left: 335px;
        margin-right: 335px;
    }
    .button {
        text-align: center;
        margin-top: 12px;
        height: 32px;
        line-height: 32px;
    }
    h1 {
        font-size: 24px;
    }
}
